ol
{
    list-style-type: decimal-leading-zero; /*puedo meter estos mismos estilos directamente desde el html con el ol type*/
}

/*
p
{
    background-color: blue;
    background-color: #f00; Con esto puedo armar un color con rgb usando 2 cifras hexadecimales como minimo 
    background-color: rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, .5);
    
}
*/



/*button img Aca hace que aplique a cualquier img que esten relacionadas a un buttom*/
button>img /*esto hace que solo aplique a las img que son hijas directas de un buttom*/
{
    width: 20px;
    margin-right: 10px;
}

dialog{
    width: 60%;
}

html
{
    scroll-behavior: smooth;
}

video
{
    width: 500px;
}